
    </div>
    <div class="footer-padding"></div>
    <div class="footer">
      <p>Made with ❤️ by <a href="https://github.com/kigos21" target="_blank">https://github.com/kigos21</a></p>
    </div>

  </body>
</html>
