<%- include("header") -%>

<h2 style="text-align: center">About us</h2>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad incidunt harum
  officiis expedita provident, odio sed id quisquam aliquam explicabo ipsa quas
  eum soluta assumenda beatae et impedit? Praesentium consectetur eos alias
  maxime iusto eaque voluptatem itaque cumque quam officiis, et minus velit
  dicta saepe est. Ducimus sed inventore nisi!
</p>

<%- include("footer") -%>
