

</body>

<footer>
  Copyright 2018 The App Brewery
</footer>

<div style="display: flex; gap: 1rem; justify-content: center; margin-top: 1rem;">
  <a href="/">Home</a>
  <a href="/about">About</a>
</div>

</html>
